/*---header---*/
.header-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    border-right: 1px solid #ccc;
}
.header{
    margin: 30px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.header-title{
    color: #00a1d6;
    font-size:25px;
    font-weight: bold;
}
.header-select{
    display: flex;
    flex-flow: column nowrap;
}
.header-select .header-option{
    margin: 40px 0 0 0;
    color: #505050;
    text-decoration: none;
}
/*-----*/
.stat-all{
    min-width: 1110px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 30px 0 0 240px;
    /* padding: 20px 0 0 240px; */
}
.stat-list{
    min-width: 1050px;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    padding: 10px 30px;
    margin: 0 0 20px 0;
}
.stat-list-title{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 19px;
}
.stat-list-select{
    display: flex;
    align-items: center;
    margin: 0 0 0 30px;
    font-size: 12px;
    font-weight: normal;
}
.stat-list-select div{
    margin-left: 20px;
    cursor: pointer;
}
.stat-list-select .active{
    color: #00a1d6;
}
.stat-list-select .non-active{
    color: #505050;
}
.stat-all-card{
    display: flex;
    flex-flow: row nowrap;
}
.card-content{
    width: 260px;
    margin: 0 45px 0 0;
    padding: 15px 20px;
    color: #757575;
    background-color: #f5f8fb;
    border-radius: 10px;
}
.card-tit-1{
    font-size: 12px;
}
.card-dat-1{
    margin-bottom: 15px;
    color: #00a1d6;
    font-weight: bold;
    font-size: 28px;
}
.card-tit-2{
    font-size: 12px;
}
.card-dat-2{
    padding-left: 80px;
    font-size: 16px;
    color: #00a1d6;
}
/*-----*/
.record-lists{
    display: flex;
    flex-flow: column nowrap;
    max-width: 1050px;
}
.record-card{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    padding: 20px 25px;
    margin: 0 0 20px 0;
    border: 1px solid #e5e9ef;
    border-radius: 6px;
}
.record-img{
    width: 160px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 5px #aaa;
}
.record-info-col{
    margin: 0 0 0 30px;
    font-size: 12px;
}
.record-title{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.record-title .title{
    margin-left: 15px;
    font-size: 18px;
}
.record-title .anchor{
    padding: 2px 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}
.record-time{
    margin: 20px 0 0 0;
    font-size: 10px;
    color: #99a2aa;
}
.record-stat{
    display: flex;
    flex-flow: row nowrap;
    margin: 25px 0 0 0;
}
.record-stat .stat{
    margin-right: 15px;
}
.record-buttons{
    position: absolute;
    right: 10%;
}
.record-input{
    padding: 5px 20px;
    color: #fff;
    font-size: 12px;
    background-color: #00a1d6;
    border-radius: 8px;
    cursor: pointer;
}
/*---video---*/
.video-lists{
    display: flex;
    flex-flow: column nowrap;
    margin-left: 240px;
}
.video-list{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 950px;
    padding: 20px 0 20px 0;
}
.video-stats{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 30px 0;
    border: 1px solid #e5e9ef;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #ccc;
}
.video-stat{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 15px 50px;
    border-right: 1px solid #e5e9ef;
}
.video-stat:last-child{
    border: none;
}
.video-stat .stat-dat{
    color: #00a1d6;
    font-size: 28px;
    font-weight: bold;
}
.video-stat .stat-title{
    color: #505050;
    font-size: 10px;
    letter-spacing: 1px;
}
.video-container{
    width: 800px;
    height: 400px;
}